h1 {
  color: rebeccapurple;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
footer {
  text-align: center;
}
.profileName {
    color: rebeccapurple;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
.profile {
    color: rebeccapurple;
    text-align: center;
    font-size: 20pt;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 15%;
    margin-right: 15%;

}
.form {
  justify-content: center;
  display: flex;
  text-align: center;
}

.edit {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
body {
  background-color: #CAD3FA;
  /* align-content: center; */
}
label {
  font-size: 12pt;
  color: black;
  text-align: center;
}
.delete {
  justify-content: center;
  display: flex;
  text-align: center;
}
/* .image {
  justify-content: right;
  display: flex;
  height: 200px;
  width: 200px;

} */
