{% extends 'base.html' %}
{% load static %}

{% block content %}

      <h3 class="profileName">Edit Child's Information</h3>
      <div class="form">
      <form action='/{{child.id}}/edit/' method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Submit' /> <br />

      </form>
    </div>
    <div class="form">
      <form action='/{{child.id}}/destroy/' method='POST'>
        {% csrf_token %}
        <input type='submit' value="Delete Child's Information" />
      </form>

    </div>


{% endblock %}
