{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
  <p class="profile">
    Welcome to It Takes a Village. One of the challenges special needs children face is
    making connections with kids their own age in their area. This site is designed to help parents with special needs
    children connect with other families in similar situations. We encourage parents to make connections to
    share their struggles and victories to help other families out. Teachers and therapists of
    special needs children are also welcome to join to share their insight. Whether it's making playdates, finding recommended therapists,
    or parents just needing to find a babysitter, It Takes a Village is here to help.

  </p>

</div>



{% for child in children %}

  <!-- <a href ='/{{ child.id}}'>
    <p>Name: {{ child.name}}</p>
    </a>
<a href='/user/{{child.user.username }}'>
</a>
    <p>Age: {{ child.child_Age }}</p>
    <!-- <p>: {{ child.breed }}</p>
    <p>Details: {{ child.details }}</p> -->

    <!-- <a class="waves-effect waves-light btn" data-id="{{ cat.id }}">
      Likes: {% if cat.likes > 0 %} {{ cat.likes }} {% else %} None {% endif %}
    </a> -->



{% endfor %}
<!-- <div class="form">
<h4 class="profile">Add a Child</h4>
<form action='post_child/' method='post'>
  {% csrf_token %}
  {{ form.as_p }}
  <input type='submit' value='Submit' />
  <br />
</form>
</div> -->
{% endblock %}
